
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header-section ">

    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Kendime Notlar</h1>


                        <hr class="small">
                        <span class="page-subheading">
                            docker, sql ve nosql veri tabanları, performans optimizasyonu, ci/cd ve
                            verimlilik artıran geliştirici araçları ile ilgili yazılar
                        </span>




                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container" role="main">
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2 id="blog" class="blog-type-title">Blog Yazıları (17)</h2>
            <div class="posts-list container-fluid">


                <article class="row post-preview">
                    <span class="col-sm-2 post-date hidden-xs">

                        31
                        Eki

                        2017
                    </span>
                    <div class="col-sm-10 col-xs-12">
                        <a href="/kendi-bilgisayarindan-web-sayfasi-sunmak/">
                            <span class="post-title">Kendi Bilgisayarından Web Sayfası Sunmak</span>
                        </a>
                    </div>
                </article>




            </div>

        </div>


        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2 id="talks" class="blog-type-title">Konuşmalar (17)</h2>
            <div class="posts-list container-fluid">


                <article class="row post-preview">
                    <span class="col-sm-2 post-date hidden-xs">

                        20
                        Eyl

                        2018
                    </span>
                    <div class="col-sm-10 col-xs-12">
                        <a href="https://www.youtube.com/watch?v=1qOuK4UwTvc" target="_blank">
                            <span class="post-title">Migrating a Cloud Native App from AWS to k8s</span>
                            <span class="talk-duration">(0:36)</span>
                            <span class="talk-community">- DevOps Days 2018</span>
                        </a>
                    </div>
                </article>

            </div>
        </div>


        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2 id="medium" class="blog-type-title">Medium Yazıları (92)</h2>
            <div class="posts-list container-fluid">



                <article class="row post-preview">
                    <span class="col-sm-2 post-date hidden-xs">

                        25
                        Mar

                        2019
                    </span>
                    <div class="col-sm-10 col-xs-12">
                        <a href="" target="_blank">
                            <span class="post-title">Komut satırı JSON, YAML, XML ve HTML işleme araçları</span>
                        </a>
                    </div>
                </article>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        </div>
    </div>
</div>